<div class="main-container" [class.sidebar-collapsed]="isSidebarHidden || !showSidebar()">
  <!-- BARRA LATERAL -->
  @if (showSidebar()) {
    <aside class="sidebar" [class.hidden]="isSidebarHidden">
      <button class="toggle-btn" (click)="toggleSidebar()">
        {{ isSidebarHidden ? '»' : '«' }}
      </button>

      <div class="logo">
        <img src="logo.png" class="logo-img" />
      </div>

      @if (authService.currentUser()) {
        <div class="user-info">
          <!-- <span class="user-name">{{ authService.currentUser()!.name }}</span> -->
          <span class="user-role">{{ authService.currentUser()!.role }}</span>
        </div>
      }

      <nav class="menu">
        @if (authService.hasPermission('calendar:access')) {
          <a routerLink="/calendar" routerLinkActive="active-link">📅 Calendario</a>
        }
        @if (authService.hasPermission('searches:access')) {
          <a routerLink="/searches" routerLinkActive="active-link">🔍 Búsquedas</a>
        }
        @if (authService.hasPermission('cleaning:access')) {
          <a routerLink="/cleaning-organization" routerLinkActive="active-link">
            🧹 Org. Limpiezas
          </a>
        }
        @if (authService.hasPermission('bills:read')) {
          <a routerLink="/bills" routerLinkActive="active-link">💶 Facturas</a>
        }
      </nav>

      <div class="sidebar-actions">
        @if (authService.hasPermission('admin:access')) {
          <a class="admin-panel-link" routerLink="/admin" routerLinkActive="active-link">
            ⚙️️ Panel de Administrador
          </a>
        }

        <button class="logout-btn" (click)="logout()">🚪 Cerrar sesión</button>
      </div>
    </aside>
  }

  <!-- CONTENIDO PRINCIPAL -->
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
