<div class="main-container">
    <!-- BARRA LATERAL -->
    <aside class="sidebar" [class.hidden]="isSidebarHidden">
        <!-- Ponemos el botón arriba del todo para que sea más fácil de posicionar -->
        <button class="toggle-btn" (click)="toggleSidebar()">
            {{ isSidebarHidden ? '»' : '«' }}
        </button>

        <div class="logo">
            <img src="logo.png" class="logo-img">
        </div>

        <nav class="menu">
            <a routerLink="/calendar" routerLinkActive="active-link">📅 Calendario</a>
            <a routerLink="/searches" routerLinkActive="active-link">🔍 Búsquedas</a>
        </nav>
    </aside>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="content-area">
        <router-outlet></router-outlet>
    </main>
</div>